doctype html
html
    head
        title Social Grabber
        link(href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet")
        link(href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css" rel="stylesheet")
        <!--[if lte IE 8]>
        link(href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/grids-responsive-old-ie-min.css" rel="stylesheet")
        <![endif]-->
        <!--[if gt IE 8]><!-->
        link(href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/grids-responsive.css" rel="stylesheet")
        <!--<![endif]-->
        link(rel='stylesheet', href='/css/style.css')
        block head
    body
        block content
